@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


// Abstracts
@import 'abstracts/mixins';

// Global
@import 'base/global';
// @import 'base/overrides';
// @import 'base/color';

// Layouts
@import 'layouts/global';
// @import 'layouts/default';
// @import 'layouts/error';

// Components
@import 'components/global';
@import 'components/searchbox';
@import 'components/swiper';



body {
  @apply bg-dark text-white text-xs;
}

p {
  @apply leading-5
}