.main {
    @apply flex min-h-screen flex-col items-center;

    @include element(header) {
        @apply flex items-center fixed inset-x-0 mx-auto top-1 w-fit sm:w-full max-w-5xl sm:p-4 p-4 md:p-4 lg:px-0 xl:px-0 2xl:px-0 z-50;
    }

    @include element(section) {
        @apply w-full flex flex-col items-center sm:px-4 px-4 md:px-4 xl:px-0 2xl:px-0;
    }

    @include element(container) {
        @apply w-full h-full grow-[1] max-w-5xl;
    }
}

.article {
    @include element(container) {
        @apply w-full h-full grow-[1] max-w-3xl;
    }
}



.progress-bar {
    @apply h-4 static top-0 left-0 right-0 bg-red-500 origin-[0%];
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    will-change: transform;
  }

