/* 
.react-datepicker-wrapper {
    width: fit-content;
}

.react-datepicker__input-container {
    display: flex !important;
    align-items: center;
}

.react-datepicker__calendar-icon {
    color: black
}

.react-datepicker{
    background-color: red;
}
.wrapperClassName{
    background-color: red;
} */

.react-datepicker {
  border: 1px solid #d0d5dd !important;
  display: flex !important;
  flex-direction: column;
  width: max-content;
  color: #667085 !important;
  width: 367px !important;
}
.react-datepicker-popper {
  z-index: 1201 !important;
}
.react-datepicker__header {
  border-bottom: unset !important;
  background-color: #fff !important;
  color: #101828 !important;
}

.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #fef3f2 !important;
  color: #667085 !important;
  border-radius: 0% !important;
}

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #fef3f2 !important;
  color: #667085 !important;
  border-radius: 0% !important;
  width: 100% !important;
}
.react-datepicker__month.react-datepicker__monthPicker {
  padding-inline: 1rem !important;
}

/**
*  Month 
*/
.react-datepicker__month,
.react-datepicker__monthPicker {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px;
}
.react-datepicker__month-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month {
  width: unset !important;
  padding: 0.5rem 1rem;
  margin: 0 !important;
}
/**
*  Day
*/
.react-datepicker__day{
  color: #667085 !important;
}
.react-datepicker__day.react-datepicker__day--outside-month{
  color: #A4ACB9 !important;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 24px !important;
  height: 24px !important;
  padding: 0;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.react-datepicker__week,
.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
.react-datepicker__day-names {
  padding-inline: 1rem;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0 !important;
}

/**
*  In range
*/
.react-datepicker__month-text--in-range {
  background-color: #fef3f2 !important;
  color: #667085 !important;
}

.react-datepicker__month-text--keyboard-selected {
  color: #667085 !important;
}
.react-datepicker__day--keyboard-selected {
  color: #667085 !important;
}

.react-datepicker__day--in-range:not(.react-datepicker__day--range-start, .react-datepicker__day--range-end) {
  background-color: #fef3f2 !important;
  color: #667085 !important;
  width: 100% !important;
}

.react-datepicker__month-text--range-start,
.react-datepicker__month-text--range-end {
  background-color: #d92d20 !important;
  color: #fff !important;
  border-radius: 4px !important;
  position: relative;
}
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: unset !important;
  color: #fff !important;
  position: relative;
}
.react-datepicker__day--range-start::after {
  content: '';
  position: absolute;
  background-color: #d92d20 !important;
  width: 100%;
  height: 100%;
  border-radius: 4px !important;
}
.react-datepicker__day--range-start:not(.react-datepicker__day--range-end)::before {
  content: '';
  position: absolute;
  background-color: #fef3f2 !important;
  width: 100%;
  height: 100%;
  right: -50%;
}
.react-datepicker__day--range-start span {
  content: '';
  position: absolute;
  z-index: 10;
}
.react-datepicker__day--range-end::after {
  content: '';
  position: absolute;
  background-color: #d92d20 !important;
  width: 100%;
  height: 100%;
  border-radius: 4px !important;
}
.react-datepicker__day--range-end:not(.react-datepicker__day--range-start)::before {
  content: '';
  position: absolute;
  background-color: #fef3f2 !important;
  width: 100%;
  height: 100%;
  left: -50%;
}
.react-datepicker__day--range-end span {
  content: '';
  position: absolute;
  z-index: 10;
}

.react-datepicker__month-text.react-datepicker__month-text--keyboard-selected.react-datepicker__month-text--today {
  color: #fff !important;
  background-color: #d92d20 !important;
  border-radius: 4px !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  color: #fff !important;
  background-color: #d92d20 !important;
  border-radius: 4px !important;
}
.react-datepicker__day--selected{
  color: #fff !important;
  background-color: #d92d20 !important;
  border-radius: 4px !important;
}

.react-datepicker__month-text.react-datepicker__month-text--selected.react-datepicker__month-text--keyboard-selected.react-datepicker__month-text--in-selecting-range.react-datepicker__month-text--selecting-range-start.react-datepicker__month-text--selecting-range-end {
  border-radius: 4px !important;
}
/**
*  Children
*/

.react-datepicker__children-container {
  width: 100% !important;
  margin: 0 !important;
  padding-inline: 0 !important;
}
